@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: #111;
        font-family: 'Open Sans', sans-serif;
    }
    *::-webkit-scrollbar {
        width: 15px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #5c5c5c;
        border: 3px solid #111;
        border-radius: 20px;
    }
    *::-webkit-scrollbar-track {
        background-color: #111;
    }
    ::selection {
        background-color: #2b2b2b;
    }
    .nav-item {
        @apply py-1 px-2 border border-accent rounded-[3px] bg-[#141414d3] hover:bg-[#1a1a1ade] font-medium cursor-pointer text-[#a0a0a0] hover:text-[#e9e8e8] whitespace-nowrap transition-colors;
    }
    .page-header-title {
        @apply font-heading text-white text-center text-5xl;
    }
    .card {
        @apply bg-secondary border border-[#202020] p-4 rounded-[3px] cursor-default min-w-[250px] grow max-w-2xl;
    }
    .item {
        @apply bg-[#1a1a1a] py-1 px-3 text-xl rounded-[3px] border border-[#272727] flex items-center gap-2;
    }
    .diagram-row {
        @apply flex gap-6 border border-accent px-3 py-2 rounded-md sm:flex-col;
    }
    .diagram-label {
        @apply flex items-center justify-center text-white font-consolas text-center pl-1 relative w-full max-w-[130px] border-r px-5 border-[#202020] sm:max-w-none sm:border-r-0 sm:border-b sm:pb-3;
    }
    .diagram-desc {
        @apply flex items-center text-[#b4b4b4] font-consolas sm:justify-center;
    }
    .skill-item {
        @apply flex items-center justify-center gap-2 py-[10px] px-4 border-accent bg-[rgba(19,19,19,0.8)] text-[#a0a0a0] border rounded-[3px] hover:bg-[rgba(22,22,22,0.92)]  hover:text-white grow transition-colors;
    }
    .skill-item[data-lang='react']:hover svg {
        color: #61dafb;
    }
    .skill-item[data-lang='astro']:hover svg,
    .skill-item[data-lang='html']:hover svg {
        color: #FF5D01;
    }
    .skill-item[data-lang='tailwindcss']:hover svg {
        color: #38bdf8;
    }
    .skill-item[data-lang='sass']:hover svg {
        color: #c66394;
    }
    .skill-item[data-lang='typescript']:hover svg {
        color: #3178c6;
    }
    .container {
        @apply w-[95%] max-w-[1500px] mx-auto;
    }
    .input {
        @apply bg-[rgba(21,21,21,0.7)] py-1 px-2 rounded-md border border-accent text-[#dfdfdf] text-xl min-h-[50px] focus:outline-none focus:border-[#363636] transition-colors;
    }
    .btn {
        width: min(95%, 170px);
        @apply flex gap-2 justify-center items-center bg-[rgb(20,20,20)] py-2 px-4 rounded-md border border-accent text-[#dfdfdf] hover:bg-[#161616] hover:shadow-md hover:border-[#202020] text-xl transition-colors;
    }
    .lang-opt {
        @apply py-1 px-2 bg-[#1d1d1d] hover:bg-[#242424] transition-colors;
    }
    .heading {
        width: min(95%, 600px);
        font-size: clamp(3rem, 3vw + 2rem, 5.5rem);
        @apply font-heading text-white leading-tight md:w-full md:text-center;
    }
    .sub-heading {
        font-size: clamp(2.6rem, 2vw + 1rem, 3rem);
        @apply font-heading text-center text-white;
    }
    .mobile-nav {
        @apply flex-col absolute right-0 -bottom-2 translate-y-full bg-[rgb(19,19,19)] p-3 items-center border border-[#272727] gap-3 origin-top transition-transform;
    }
    .mobile-nav li {
        @apply w-full;
    }
    .mobile-nav li a {
        @apply w-full inline-block text-center;
    }
    .project-link {
        @apply text-white flex items-center justify-center rounded-md gap-2 py-5 px-4 bg-[#141414] border border-[#2b2b2b] text-2xl hover:bg-[#1b1b1b] transition-colors
    }
}
