@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: #111;
        font-family: 'Open Sans', sans-serif;
    }
    html::-webkit-scrollbar {
        width: 15px;
    }
    html::-webkit-scrollbar-thumb {
        background-color: #5c5c5c;
        border: 3px solid #111;
        border-radius: 20px;
    }
    html::-webkit-scrollbar-track {
        background-color: #111;
    }
    ::selection {
        background-color: #2b2b2b;
    }
    .nav-item {
        @apply py-1 px-2 border border-[#2b2b2b] rounded-[3px] bg-[#1a1a1a] hover:bg-[#1f1f1f] font-medium cursor-pointer text-[#a0a0a0] hover:text-white whitespace-nowrap transition-colors;
    }
    .page-header-title {
        @apply font-heading text-white text-center text-5xl;
    }
    .card {
        @apply bg-secondary border border-[#202020] p-4 rounded-[3px] cursor-default min-w-[250px] grow max-w-2xl;
    }
    .item {
        @apply bg-[#1a1a1a] py-1 px-3 text-xl rounded-[3px] border border-[#272727] flex items-center gap-2;
    }
    .diagram-row {
        @apply flex gap-6 border border-[#1d1d1d] p-3 rounded-md;
        grid-template-columns: minmax(1fr, 200px) 1fr;
    }
    .diagram-label {
        @apply flex items-center justify-center text-white font-consolas text-center pr-2 pl-1 relative w-full max-w-[100px];
    }
    .diagram-desc {
        @apply flex items-center text-[#b4b4b4]  font-consolas;
    }
    .skill-item {
        @apply flex items-center gap-2 py-[10px] px-4 border-[#1d1d1d] bg-[rgba(21,21,21,0.88)] text-[#a0a0a0] border rounded-[3px] hover:bg-[#1a1a1a] transition-colors;
    }
    .diagram-label::after {
        @apply content-[''] absolute -right-2 top-0 w-[1px] h-full bg-[#252525] rounded-md;
    }
    .container {
        @apply w-[95%] max-w-[1500px] mx-auto;
    }
    .input {
        @apply bg-[rgba(21,21,21,0.7)] py-1 px-2 rounded-md border border-[#222222] text-[#dfdfdf] text-xl min-h-[50px] focus:outline-none focus:border-[#363636] transition-colors;
    }
    .btn {
        width: min(95%, 140px);
        @apply flex gap-2 justify-center items-center bg-[rgb(20,20,20)] py-1 px-2 rounded-md border border-[#1b1b1b] text-[#dfdfdf] hover:bg-[#161616] hover:border-[#202020] text-xl transition-colors;
    }
    .lang-opt {
        @apply py-1 px-2 bg-[#1d1d1d] hover:bg-[#242424] transition-colors;
    }
    .heading {
        width: min(95%, 600px);
        font-size: clamp(3rem, 3vw + 2rem, 5.5rem);
        @apply font-heading text-white leading-tight md:w-full md:text-center;
    }
}