<nav class="nav">
    <header>
        <h1 class="nav__my-nickname">
            Fiji<span class="nav__my-nickname_indicator">404</span>
        </h1>
		<img class="nav__sunglasses" src="/assets/sunglasses.svg" alt="Sunglasses emoji from GH profile">
    </header>
    <ul class="nav-list">
        <li>
            <a class="nav-list__link" href="/projects/">My portfolio</a>
        </li>
        <li>
            <a class="nav-list__link" href="/projects/">About me</a>
        </li>
    </ul>
</nav>
